.css-1q3qg0t-MuiInputBase-root-MuiOutlinedInput-root {
  height: 35px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px !important;
}

/* class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" */
/* .css-i4bv87-MuiSvgIcon-root {
  font-size: 22px;
  color: #073763;
} */

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -8px !important;
  font-size: 14px !important;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: #0b83a5 !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 35px !important;
}

style.css .no-spinner input::-webkit-outer-spin-button,
.no-spinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner input[type=number] {
  -moz-appearance: textfield;
}